<h1>Name: <%="#{@pirate.name}" %> Weight: <%="#{@pirate.weight}"%> Height: <%="#{@pirate.height}"%></h1>


<h2><%ship = @ships[0]%>
  Name: <%="#{ship.name}"%> Type: <%="#{ship.type}"%> Booty: <%="#{ship.booty}"%>
</h2>


<h2><% ship = @ships[1] %>
  Name: <%="#{ship.name}"%> Type: <%="#{ship.type}"%> Booty: <%="#{ship.booty}"%>
</h2>
